/* DEBUG */
/* 
.debug {
    background-color: lightskyblue;
    min-height: 80px;
    line-height: 80px;
    border: 2px dashed black;
} */

/* body {
    background-color: lightblue;
} */

/* HEADER */

header {
    background-color: rgb(0, 132, 253);
    padding: 1.5rem;
}

.menu {
    display: none;
}

header>nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: rgb(0, 132, 253);
}

header>nav>ul {
    list-style: none;
    display: flex;
    gap: 2rem;
}

header>nav>ul>li {
    display: inline-block;
}



/* CARDS */

#cards {
    margin: 50px 0;
}

#cards .cards>.row {
    display: flex;
    flex-wrap: wrap;
    /* gap: 15px; */
}

#cards .card {
    width: calc(100% / 3);
    padding: 15px;
    background-color: rgb(181, 221, 255);
    border-radius: 10px;
    text-align: center;
}

#cards .card:first-child {
    width: calc(100% / 3 * 2);
    display: flex;
    padding: 15px;
    text-align: left;
}

#cards .col-50{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#cards h3{
    color: rgb(0, 132, 253);
}

#cards p{
    color: rgb(90, 110, 127);
    font-weight: bold;
}

#cards .col-50.card-img{
    width: 28%;
    margin-left: 75px;
}

.card>.blu-primary{
    color: rgb(0, 132, 253);
    font-size: 5rem;
} 

/* PLANNING */

#planning {
    padding: 50px 0;
}

.planning-image {
    margin-bottom: 100px;
}

.col-40>.planning-details{
    color: white;
}

#planning .card {
    width: 100%;
    margin: 30px;
    padding: 30px;
    background-color: white;
    border-radius: 40px;
    text-align: center;
}

.download{
    background-color: rgb(151, 146, 228);
    border-radius: 50%;
    color: black;
    padding: 1rem;
}

/* TESTIMONIAL */
#testimonials {
    margin: 80px 0;
}

#testimonials .intro{
    text-align: center;
    line-height: 7rem;
}

#testimonials h1{
    color: rgb(151, 146, 228);
    font-size: 3rem;
}

#testimonials .card {
    margin: 50px 0;
    background-color:rgb(151, 146, 228);
    display: flex;
    border-radius: 40px;
}

#testimonials .card .card-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}

#testimonials .card .card-contents {
    flex-grow: 1;
    color: white;
}

/* BENEFITS */
#benefits {
    margin: 50px 0;
}

#benefits .cards>.row {
    display: flex;
    flex-wrap: wrap;
}

#benefits .card {
    width: calc(100% / 3);
    padding: 15px;
}


/* QUERY */


/* TABLET */

@media screen and (max-width: 768px) {

    .container {
        max-width: 800px;
        margin: 0 auto;
    }

    /* HEADER */

    .links {
        display: none;
    }

    .menu {
        display: block;
        color: white;
    }

    /* CARDS */

    #cards .card:first-child {
        display: block;
    }

    #cards .card:first-child>.col-50 {
        width: 100%;
    }

    /* PLANNING  */

    #planning>.container>.row {
        flex-wrap: wrap;
    }

    #planning>.container>.row>.col-40 {
        width: 100%;
    }

    #planning .card {
        margin: 30px 0;
    }

    /* BENEFITS */

    #benefits .card {
        width: 50%;
    }

}



/* MOBILE */

@media screen and (max-width: 480px) {

    .container {
        max-width: 450px;
        margin: 0 auto;
    }

    /* CARDS */

    #cards .card {
        width: 100%;
    }

    #cards .card:first-child {
        width: 100%;
    }

    /* TESTIMONIALS */

    #testimonials .card {
        flex-wrap: wrap;
        justify-content: center;
    }

    #testimonials .card .card-image {
        width: 50vw;
        height: 50vw;
        margin: 15px 0;
    }

    #testimonials .card .card-contents {
        width: 100%;
    }

    /* BENEFITS */

    #benefits .card {
        width: 100%;
    }

    /* ABOUT */

    #about>.container>.row {
        flex-wrap: wrap;
    }

    #about>.container>.row>.col-70,
    #about>.container>.row>.col-30 {
        width: 100%;
    }

}