*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    margin: 0 auto;
    max-width: 1300px;
    padding: 2rem;
}

.xs-container{
    margin: 0 auto;
    max-width: 1100px;
    padding: 2rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.col{
    display: flex;
    flex-direction: column;
}

.bt{
    padding: 11px 13px;
    border-radius: 24px;
}

.bt.bt-white{
    background-color: white;
    color: black;
}

.primary-1{
    background-color: white;
}

.primary-2{
    background-color: rgb(151, 146, 228);
    width: 100%;
}


/* HEADER */
header{
    background-color: rgb(0, 132, 253);
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 132, 253);
}

.menu i{
    display: none;
}

/* MAIN */

/* Section 1 */
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1.5rem;
}









/* QUERY */
@media screen and (max-width: 768px) {
    .container{
        max-width: 768px;
    }
    
    .xs-container{
        max-width: 768px;
    }
    
    
    nav ul{
        display: none;
    }

    .menu i{
        display: block;
        color: white;
    }
}

@media screen and (max-width: 480px) {
    .container{
        max-width: 480px;
    }
    
    .xs-container{
        max-width: 480px;
    }

    nav {
        width: 100%;
    }

    .row {
        display: flex;
        flex-direction: column;
    }

    .row .w70{
        display: flex;
        flex-direction: column;
    }
}