/* Utils */

a, a:visited{
	text-decoration: none;
	color: white;
}

ul {
	list-style: none;
	display: flex;
	flex-direction: row;
	gap: 2rem;
}

.clearfix::after {
	content: '';
	clear: both;
	display: table;
}


/* DIMENSIONI */
.w70{
	width: calc(70% - 4rem);

	/* debug */
	background-color: blueviolet;
	height: 300px;
}

.w50{
	width: 50%;

	/* debug */
		background-color: blue;
		height: 600px;
}

.w30{
	width: calc(30% - 0.5rem);

	/* debug */
	background-color: blue;
	height: 300px;
}