/* Utils */

a, a:visited{
	text-decoration: none;
	color: white;
}

ul {
	list-style: none;
	display: flex;
	flex-direction: row;
	gap: 2rem;
}

.clearfix::after {
	content: '';
	clear: both;
	display: table;
}


/* DIMENSIONI */
.w100{
	width: 100%;

	/* debug */
		height: 450px;
		background-color: brown;
}

.w70{
	width: calc(100% / 3 * 2 - 1rem);

	/* debug */
	background-color: blueviolet;
	height: 300px;
}

.w50{
	width: 50%;

	/* debug */
		background-color: blue;
		height: 600px;
}

.w30{
	width: calc(100% / 3 - 2rem);

	/* debug */
	background-color: blue;
	height: 300px;
}


/* MARGINI */
.mb2 {
	margin-bottom: 2rem;
}

.mb3{
	margin-bottom: 3rem;
}

.mt1{
	margin-top: 1rem;
}

.mt3{
	margin-top: 3rem;
}